# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# IDE
.idea/
.vscode/

# Generated
*.g.dart
*.freezed.dart

# Linux build
linux/flutter/

# macOS build
macos/Flutter/

# Windows build
windows/flutter/

# Test
coverage/
