# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# IDE
.idea/
.vscode/
devtools_options.yaml

# Generated
*.g.dart
*.freezed.dart

# Linux build
linux/flutter/

# macOS build
macos/Flutter/

# Windows build
windows/flutter/ephemeral/
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h

# Test
coverage/
test/failures/

# Dist
dist/*.deb
